양자화학_강의계획서.md
양자화학 Mcquarrie 2판.pdf
Introduction to Computational Chemistry, Jensen, 3rd edition.pdf
계산화학개론, Cramer.pdf
물리화학 Atkins 12판.pdf
물리화학 McQuarrie.pdf
분자양자역학 Atkins 5판.pdf
양자화학 Levine 7판.pdf
현대양자화학, Szabo.pdf